/* styles.css */
.profile-card {
    text-align: center;
    margin-top: 20px;
}

.profile-card img {
    max-width: 100%;
    border-radius: 50%;
}

.student-info {
    margin-top: 20px;
}

.student-info h2 {
    font-size: 24px;
}

.student-info p {
    font-size: 16px;
}
